/*mark all divs with border*/

* {
    border: 1px solid #929292;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body button {
    box-sizing: border-box;
    margin: 6px;
}

.input {

    box-sizing: border-box;
    padding: 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30%;
}

#newNoteText {
    padding: 1em;
    width: 100%;
    height: 80px;
    resize: none;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* Adjust the space between items */
}

.note {
    width: 300px;
    height: 200px;
    margin: 5px;


}